.flights {
  display: flex;
  justify-content: center;
  color: #c9d4ce;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.search {

}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 5%;
}

.searchFromTo {

}

.flightsResults {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flightsResultsList {
  width: 400px;

}