html,
body {
  height: 100%;
}

#root {
  height: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centred {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.flex-centred {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
