@import '../../../shared/styles/mixins.scss';

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 5% 0;
  @include phones() {
    width: 100%;
  }
}

.searchFormFields {
  display: flex;

  @include laptop() {
    flex-direction: column;
  }
  @include phones() {
    width: 90%;
  }
}

.searchDate {
  display: flex;
  justify-content: space-around;
}

.searchPersons,
.searchFromTo,
.searchDate {
  display: flex;
  margin-bottom: 2%;

  @include phones() {
    flex-direction: column;
  }
}
